<tr id="<%= dom_id product %>">
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td>₹ <%= product.price %></td>
  <td><%= product.stock %></td>
  <td>
  <% if product.is_active %>
    <span style="color: green; font-size: 40px;">●</span>
  <% else %>
    <span style="color: red; font-size: 40px;">●</span>
  <% end %>
  </td>
  <td>
    <%= link_to "Show", product, class: "btn btn-info btn-sm" %>
  </td>
   <td> <span class="text-warning">
    <%= product.review.present? ? product.review : "-" %>
  </span>
  </td>
  <td>
            <div>
              <% if product.product_image.attached? %>
              <% product.product_image.each do |image|%>
                <%= image_tag url_for(image),
                      class: "img-fluid rounded",
                      style: "max-height: 200px;",size:"100x100",alt: "Product image" %>
                <%end%>
              <% else %>
                <span class="text-muted">No images uploaded</span>
              <% end %>
            </div>
          </div>
  </td>

    <td> <span class="text-warning">
    <%= product.invoice.attached? ? product.invoice : "-" %>
  </span>
  </td>
  <td><%= product.email %></td>
</tr>
