<tr id="<%= dom_id product %>">
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td>₹ <%= product.price %></td>
  <td><%= product.stock %></td>
   <td>
  <% if product.is_active %>
    <span style="color: green; font-size: 40px;">●</span>
  <% else %>
    <span style="color: red; font-size: 40px;">●</span>
  <% end %>
  </td>
  <td>
    <%= link_to "Show", product, class: "btn btn-info btn-sm" %>
  </td>
</tr>
